.search-box{
    margin-top: 2%;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211,209,238,0.5);
    // background-color: #F8F8FF;
    background-color:#ffffff;
    .search-form{
        .field-label{
            padding: 2%;
            font-weight: 400;
            font-size: 17px;
            color: #2d1819;
        }
        .no-of-travellers{
            width: 80px;
        }
        .search-button{
            position: relative;
            top: -20px;
            float: right;
            width: 165px;
        }
    }
}