<div class="container">
    <div class="checkin-box">
        <div class="checkin-header">
            {{checkinHeading}}
        </div>
        <div class="checkin-form" [formGroup]="checkinForm" *ngIf="!isCheckedIn" >
            <div class="row">
                <mat-form-field class="example-form-field">
                    <mat-label>Enter the booking ID :</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="bookingId">
                </mat-form-field>  
            </div>
            <div>
                <button mat-raised-button color="accent" [disabled]="checkinForm.invalid" (click)="checkIn()">Check In</button>
            </div>
        </div>
        <div *ngIf="isAlreadyCheckedIn" class="already-checkin">
          {{errorMessage}}
        </div>
        <div class="checked-in" *ngIf="checkinDetails">
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Check-in ID</th>
                    <th scope="col">Check-in Time</th>
                    <th scope="col">Airline</th>
                    <th scope="col">Flight no.</th>
                    <th scope="col">Seat number</th>
                    <th scope="col">No. of Passengers</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{checkinDetails.checkinId}}</th>
                    <td>{{checkinDetails.checkinTime}}</td>
                    <td>{{checkinDetails.bookingRecord.flightInfo.airlineInfo.airlineName}}</td>
                    <td>{{checkinDetails.bookingRecord.flightInfo.flightNumber}}</td>
                    <td>{{checkinDetails.seatNumber}}</td>
                    <td>{{checkinDetails.bookingRecord.travellers}}</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th scope="col">Booking Id</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Flight Date</th>
                    <th scope="col">Flight Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">{{checkinDetails.bookingRecord.bookingId}}</td>
                    <td>{{checkinDetails.bookingRecord.origin}}</td>
                    <td>{{checkinDetails.bookingRecord.destination}}</td>
                    <td>{{checkinDetails.bookingRecord.flightDate}}</td>
                    <td>{{checkinDetails.bookingRecord.flightTime}}</td>
                  </tr>
                </tbody>
              </table>          
        </div>
    </div>
</div>