
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" [routerLink]="['/searchFlight']">
          <img class="brand-logo" src="../assets/supreme-logo.png">
        </a>
        <div class="navbar" >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/searchFlight']"><span class="sr-only">Search Flights</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/checkin']">Check In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/searchBooking']">Get Booking Details</a>
            </li>
          </ul>
        </div>
      </nav>
      <div>
        <router-outlet></router-outlet>
      </div>
</div>
