<div class="container">
    <div class="header row header-box">
        <div class="col-1">
            <button mat-icon-button color="primary" aria-label="Back" (click)="goBack()">
                <mat-icon>keyboard_backspace</mat-icon>
              </button>
        </div>
        <div class="col-11">
            <div class="row">
                {{origin}} ----->{{destination}}
            </div>
            <div class="row">
                Day, Time
            </div>
        </div>
    </div>
    <div class="body booking-contain">

    </div>
    <div class="footer booking-footer">
        <div class="book-button">
            <button mat-raised-button color="accent">Book</button>
        </div>
    </div>
</div>
